body {
  margin: 0;
  padding-top: 50px;
  background-color: #eee;
}

.submit-idea { 
	padding-top: 50px;
}

.submit-blurb 
.idea {
  text-align: center;  
  padding: 50px;  
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  width: 600px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  
  
}

.form-signin input[type="text"],
.form-signin textarea {
	font-size: 14px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    resize: none;
}


