body {
	margin: 0;
  	padding-top: 50px;
	background-color: #eee;
}

a:hover { 
	text-decoration: none;
}

.content-container { 
	padding-top: 50px;
}

.content-box {
	text-align: center;  
	padding: 50px;  
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	width: 600px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	
	
}

.form-submit input[type="text"],
.form-submit textarea {
	font-size: 14px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    resize: none;

    border: 1px solid #cccccc;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
         box-sizing: content-box;
    -webkit-appearance: textfield; 
}

.form-login input {
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
    resize: none;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus {   
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

p {
	margin-bottom: 20px;
	font-size: 16.099999999999998px;
	font-weight: 200;
	line-height: 1.4;
}

.comment-menu { 
	text-align: right;
	font-size: 13px;
	font-weight: 200;
	line-height: 1.4;
	margin-right: 5px;
}

.all-comments { 
	display: none;
}

.comment { 
	text-align: left;
	font-size: 14px;
	font-weight: 200;
	line-height: 1.4;
	margin-right: 5px;
	
	padding: 15px 15px 15px;
	margin: 0 auto 20px;
	background-color: #f6f6f6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);

}

.idea-description { 
	text-align: left;
}

.submit-comment { 
	display: none;
}

.submit-comment-box { 
	display: none;
}

.comment-textbox { 
	display: none;
}